
<mat-card>
  <mat-card-title>Car List</mat-card-title>
  <mat-card-content>
    <mat-list *ngFor="let car of cars">
      <mat-list-item>
        <h3 mat-line>{{car.id}}. {{car.mark}}  {{car.model}}  {{car.color}}
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/car-add']">Add</button>
  <button mat-fab color="primary" [routerLink]="['/car-edit']">Update</button>
  <button mat-fab color="primary" [routerLink]="['/car-delete']">Delete</button>
</mat-card>


